:host {
  color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.new-game-button {
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
  margin-right: 10px;
}

.new-game-button:hover {
  background-color: #0056b3;
}

.make-turn-button {
  cursor: pointer;
  background-color: #008209;
  color: white;
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
  margin-right: 10px;
}

.make-turn-button:hover {
  background-color: #007d06;
}

.game-id{
  width: 300px;
  margin: 6px 0px 00px 0px;
}

.new-game-button-flex{
  display: flex; 
  justify-content: space-between;
}

.new-game-button-flex-16{
  display: flex; 
  justify-content: space-between;
  margin-bottom: 16px;
}

.new-game-button-flex,
.new-game-button-flex-16,
.bottom-left {
  display: flex;
}

.center-part {
  flex-grow: 1;
  height: 350px;
  pointer-events: none;
  z-index: -10;
}