<div class="game-dashboard-container">
  <div class="new-game-button-flex">
    <div class="new-game-button btn" (click)="newGameClick()">get game</div>
    <input class="game-checkbox" type="checkbox" [(ngModel)]="newGame" title="Create new">
    <input class="game-id" type="text" [value]="gameId" (input)="onGameIdInput($event)" placeholder="Game ID" title="Get Game by ID">
    
  </div>

  <div class="new-game-button-flex-16">
    <div class="make-turn-button btn" (click)="makeTurnClick()">make turn</div>
    <div class="game-message">{{ game()?.turnMessage || 'No Turn Message' }}</div>
  </div>

  <div>
    <app-player-list [players]="game()?.players ?? null"></app-player-list>
  </div>

  <div class="center-part">
    @if (game()?.currentTurn === 2) {
      <app-resource-exchange [currentPlayer]="game()?.currentPlayer!" [gameId]="game()?.id ?? ''" [players]="game()?.players!"></app-resource-exchange>
      <div>
        <app-choose-facility></app-choose-facility>
      </div>
    }
    @if (game()?.currentTurn === 1) {
      <app-enemy-card [currentCards]="game()?.currentCards ?? null"></app-enemy-card>
    }
  </div>

  @if (game()?.currentTurn === 0) {
    <div>
      <app-dice-roll [dice]="game()?.dice ?? null"></app-dice-roll>
    </div>
  }

 
</div>



