
<div class="container">
  <div [ngClass]="buttonsDisabled ? 'blue-button-disabled' : (selectedFacility === 1) ? 'blue-button-selected' : 'blue-button'" (click)="selectFacility(1)">Small</div> 
  <div>Bronze</div>
  <div [ngClass]="buttonsDisabled ? 'blue-button-disabled' : (selectedFacility === 2) ? 'blue-button-selected' : 'blue-button'" (click)="selectFacility(2)">Medium</div>
  <div>Silver</div>
  <div [ngClass]="buttonsDisabled ? 'blue-button-disabled' : (selectedFacility === 3) ? 'blue-button-selected' : 'blue-button'" (click)="selectFacility(3)">Large</div>
  <div>Gold</div>
  <div [ngClass]="buttonsDisabled ? 'blue-button-disabled' : (selectedFacility === 0) ? 'blue-button-selected' : 'blue-button'" (click)="selectFacility(0)">Repair</div>
  
</div>
