

#inner-path:hover
    {
        fill: #ffffffc4; /* Change color on hover */
    }

#top-right-path:hover
    {
        fill: #ffffffc4; /* Change color on hover */
    }


#top-left-path:hover
    {
         fill: #ffffffc4; /* Change color on hover */
    }

#bottom-right-path:hover
    {
        fill: #ffffffc4; /* Change color on hover */
    }
#bottom-left-path:hover
    {
        fill: #ffffffc4; /* Change color on hover */
    }
 #left-vertical-path:hover
    {
        fill: #ffffffc4; /* Change color on hover */
    }

#right-vertical-path:hover
    {
        fill: #ffffffc4; /* Change color on hover */
    }

   .beehive-svg
   {
    margin: -25px -45px -25px -45px;
   }