
@if (showHexagons()) {
<div class="container">
    <div class="two-columns">
        <app-castle-hexagon class="beehive" [model] = 'hexagons()[1]' [showScores]="showScores()" (sectorClick) = "onClick($event)"></app-castle-hexagon>
        <app-castle-hexagon class="beehive" [model] = 'hexagons()[2]' [showScores]="showScores()" (sectorClick) = "onClick($event)"></app-castle-hexagon>
    </div>
    <div class="tree-columns">
        <app-castle-hexagon class="beehive" [model] = 'hexagons()[5]' [showScores]="showScores()" (sectorClick) = "onClick($event)"></app-castle-hexagon>
        <app-castle-hexagon class="beehive" [model] = 'hexagons()[0]' [showScores]="showScores()" (sectorClick) = "onClick($event)"></app-castle-hexagon>
        <app-castle-hexagon class="beehive" [model] = 'hexagons()[3]' [showScores]="showScores()" (sectorClick) = "onClick($event)"></app-castle-hexagon>
    </div>    
    <div class="two-columns">
        <app-castle-hexagon class="beehive" [model] = 'hexagons()[4]' [showScores]="showScores()" (sectorClick) = "onClick($event)"></app-castle-hexagon>
        <app-castle-hexagon class="beehive" [model] = 'hexagons()[6]' [showScores]="showScores()" (sectorClick) = "onClick($event)"></app-castle-hexagon>
    </div>

</div>
}
