.container {
  display: grid;
  grid-template-rows:  auto;
  grid-template-columns: auto;
  position: relative;
  row-gap: -100px;
  min-width: 600px;

}

.two-columns {
    width: 400px;
    display: grid;
    grid-template-columns: auto auto;
    position: relative;
    margin-left: 100px;
}

.tree-columns{
  display: grid;
  grid-template-columns: auto auto auto;
  position: relative;
}




