.container {
  display: grid;
  grid-template-rows:  auto auto auto;
  grid-template-columns: auto;
  position: relative;
  row-gap: -100px;

}

.two-container{
    position: relative;
    left: 16%;
}

.tree-container{
    position: relative;
}




