.resource-exchange-container{
    display: grid;
    grid-template-columns: 150px 20px 20px 20px ;
    gap: 10px;
    margin-top: 10px;
}

.resource-div {
    background-color: #f1f1f1;
    color: #000;
    text-align: center;
    align-content: center;
    height: 28px;
  }