<br/>
<div class="resource-exchange-container">
   <div class="blue-button">Buy Bronze</div>
   <div class="resource-div">1</div>
   <div class="resource-div">1</div>
   <div class="resource-div">1</div>

   <div class="blue-button">Buy Silver</div>
   <div class="resource-div">1</div>
   <div class="resource-div">1</div>
   <div class="resource-div">1</div>

   <div class="blue-button">Buy Gold</div>
   <div class="resource-div">1</div>
   <div class="resource-div">1</div>
   <div class="resource-div">1</div>
 </div>