<div class="container">
    <div class="content">
        <app-beehive-cell class="beehive-cell-wrapper" (sectorClick)="onSectorClick($event)" [model]="model"></app-beehive-cell>
    </div>
    <div class="overlay">
        <app-small-facilities [model]="model"></app-small-facilities>
    </div>  
    <div class="overlay">
        <app-medium-facilities [model]="model"></app-medium-facilities>
    </div>
    <div class="overlay">
        <app-large-facilities [model]="model"></app-large-facilities>
    </div>
    @if (showScores)
    {
    <div class="overlay topmost-overlay" >
        <div class="circle-text pos1" [ngStyle]="{'background': affected(0) ? 'red' : ''}">{{defenceScore[0]}}</div>    
        <div class="circle-text pos2" [ngStyle]="{'background': affected(1) ? 'red' : ''}">{{defenceScore[1]}}</div>
        <div class="circle-text pos3" [ngStyle]="{'background': affected(2) ? 'red' : ''}">{{defenceScore[2]}}</div>
        <div class="circle-text pos6" [ngStyle]="{'background': affected(5) ? 'red' : ''}">{{defenceScore[5]}}</div> 
        <div class="circle-text-central pos-central">{{score}}</div>
        <div class="circle-text pos4" [ngStyle]="{'background': affected(3) ? 'red' : ''}">{{defenceScore[3]}}</div> 
        <div class="circle-text pos5" [ngStyle]="{'background': affected(4) ? 'red' : ''}">{{defenceScore[4]}}</div>
        
    </div>
    }
</div>